
a.router-link {
  text-decoration: none;
  color:rgb(185, 188, 21);
  font-size:2.2em;
  margin-right:5em;
  font-weight:1200;
}

.links {
  display:flex;


}

.nav-tabs button {
  color:rgb(185, 188, 21);
  font-size:1.4em;
}

.background::before {
  content: "";
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-image: url('/assets/background-hs6.jpg');
  background-size: 100vw auto;
    background-position: center;
    background-repeat: no-repeat;
  z-index: -1; /* Keep the background behind the content */
}


